@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #222831;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-div {
  width: 90%;
  height: 90%;
  background-color: #393e46;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eeeeee;
  gap: 14px;
  position: relative;
}

h1 {
  font-size: 35px;
  font-weight: 600;
  color: #00adb5;
}

.inner-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow-y: auto;
}

label {
  font-size: 16px;
}

input[type="text"],
input[type="number"],
input[type="checkbox"],
input[type="password"],
input[type="tel"] {
  color: #eeeeee;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #00adb5;
  background-color: #222831;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

.button {
  outline: none;
  border: none;
  border-radius: 9999px;
  padding: 10px 20px;
  font-size: 20px;
  color: #00adb5;
  background-color: #eeeeee;
  font-weight: 600;
  cursor: pointer;
  width: 220px;
  align-self: center;
}

.button-group {
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translateX(50%);
}

@media (max-width: 450px) {
  .outer-div {
    width: 85%;
    border-radius: 30px;
  }
  h1 {
    margin-top: 20px;
    font-size: 30px;
  }
  .inner-div {
    overflow-x: hidden !important;
  }

  label {
    font-size: 12px;
  }
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="password"] {
    color: #eeeeee;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #00adb5;
    background-color: #222831;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 10px;
    align-self: self-end !important;
    width: 150px;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  .button {
    width: 200px;
    font-size: 16px;
  }
  .button-group-1 {
    position: static;
    transform: none;
    right: none;
  }
  .inner-div .button-group-1 {
    margin-top: 20px;
  }
}
