<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="../static/images/appartment.svg"
      type="image/x-icon"
    />
    <title>Resident Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/resident.css') }}"
    />
  </head>
  <body>
    <div class="outer-div">
      <h1>Welcome Back, {{user["resident_name"]}}</h1>
      <div class="details">
        <p><strong>Flat No:</strong> {{ user["flat_no"] }}</p>
        <p><strong>Resident Name:</strong> {{ user["resident_name"] }}</p>
        <p><strong>Resident Number:</strong> {{ user["resident_number"] }}</p>
        <p>
          <strong>Resident Email Address:</strong> {{ user["email_address"] }}
        </p>
        <p><strong>Owner Name:</strong> {{ user["owner_name"] }}</p>
        <p><strong>Owner Number:</strong> {{ user["owner_number"] }}</p>
        <p><strong>BHK:</strong> {{ user["BHK"] }}</p>
        <p><strong>No. of Residents:</strong> {{ user["no_of_residents"] }}</p>
      </div>
      <div class="maintenance">
        {% if user["payment_status"] == "Paid" or user["resident_name"]=="NA" %}
        <p class="no-fee">No dues left.</p>
        {% else %}
        <p class="fee">
          <strong>Maintenance Fee to be paid for the month:</strong>
          {{ user["maintenance_fee"] }}
        </p>
        <button class="payment-button" onclick="openModal()">Pay Now</button>
        {% endif %}
      </div>
      <div class="complaint">
        <a href="{{url_for('complaint',username=user['flat_no'])}}"
          ><button class="button-complaint">Raise Complaint</button></a
        >
      </div>
      <div class="logout">
        <a href="{{url_for('logout')}}"
          ><button class="button-logout">Logout</button></a
        >
      </div>

      <h1 class="Neighbour-heading">Neighbours</h1>
      <div class="table-div">
        <table>
          <thead>
            <tr>
              <th>S.No</th>
              <th>Flat No</th>
              <th>Resident Name</th>
              <th>Resident Number</th>
              <th>Resident Email Address</th>
              <th>Owner Name</th>
              <th>Owner Number</th>
              <th>BHK</th>
              <th>No. of. Residents</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{user["details"]["flat_no"]}}</td>
              <td>{{user["details"]["resident_name"]}}</td>
              <td>{{user["details"]["resident_number"]}}</td>
              <td>{{user["details"]["email_address"]}}</td>
              <td>{{user["details"]["owner_name"]}}</td>
              <td>{{user["details"]["owner_number"]}}</td>
              <td>{{user["details"]["BHK"]}}</td>
              <td>{{user["details"]["no_of_residents"]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="overlay">
      <div class="details-view">
        <div class="payment-title">
          <h2 class="payment-h1">Payment Details</h2>
          <button onclick="closeModal()" class="cross">x</button>
        </div>
        <div class="payment-details">
          <h2>Summary</h2>
          <div class="payment-money">
            <p class="money">Maintenance Fee:</p>
            <p class="money">₹{{user["maintenance_fee"]}}</p>
          </div>
          <hr class="line" />
          <div class="payment-money">
            <p class="total">Total:</p>
            <p class="total">₹{{user["maintenance_fee"]}}</p>
          </div>
        </div>
        <div class="payment-method">
          <h2>Payment method</h2>
          <div class="options">
            <button class="button-options">
              <img height="17px" src="../static/images/upi.png" alt="" /><span
                >UPI</span
              >
            </button>
            <button class="button-options">
              <img height="20px" src="../static/images/bank.png" alt="" /><span
                >Net Banking</span
              >
            </button>
            <button class="button-options">
              <img height="20px" src="../static/images/card.png" alt="" /><span
                >Debit/Credit Card</span
              >
            </button>
          </div>
        </div>
        <div class="payment-done">
          <a href="{{url_for('payment',user=user['flat_no'])}}"
            ><button class="done-button">
              <span>Make Payment</span>
            </button></a
          >
        </div>
      </div>
    </div>
    <script src="../static/js/payment.js" defer></script>
  </body>
</html>
